* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.book-card {
  width: 250px;
  height: 400px;
  min-height: 450px;
  background-color: aliceblue;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}
.book-card:hover {
  transform: scale(1.05);
}
.book-img {
  width: 100%;
}

.book-desc {
  color: #777;
}
.book-author {
  font-size: 0.9em;
  margin-bottom: 10px;

  color: #555;
}
.book-title {
  font-size: 1em;
  margin-bottom: 10px;
  text-decoration: none;
}
.book-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book-rating {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: #555;
  padding-top: 10px;
}
.error-msg {
  text-align: center;
  color: rgb(233, 17, 17);
  font-size: 2em;
}

.view-button {
  display: inline-block;
  margin: 10px auto;
  padding: 8px 16px;
  background-color: #1e40af;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #0f172a;
  text-decoration: none;
}
